* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  max-width: 1140px;
  margin-bottom: 20px;
}

/*-----navigation bar----*/

#header {
  list-style-type: none;
  text-align: center;
}
.logo_white {
  height: 92px;
  margin: 5px 0px 0px 0px;
  width: auto;
}

#navigation-items {
  padding: 0px auto;
  width: 80%;
  margin-left: 10%;
  list-style-type: none;
  overflow: hidden;
}

#navigation-items li {
  float: left;
}

#navigation-items li a {
  display: inline-block;
  color: rgb(0, 0, 0);
  font-size: 170%;
  font-weight: 700;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  margin-top: 12px;
  transition: color 0.3s;
}

#navigation-items li a:hover {
  color: rgb(238, 123, 0);
}

/*-----Second Header----*/

#sec-header {
  background-color: #00aced;
  color: #fff;
  font-size: 130%;
  font-weight: 700;
  text-align: center;
  padding: 20px 0 20px 0;
}

#sec-header p {
  margin: 0px;
}

/*-----Landing Page----*/
.carousel-header {
  font-size: 150%;
  font-weight: 500;
  color: white;
}

.carousel-p {
  font-size: 150%;
  font-weight: 500;
  color: white;
}

.brand-section {
  background-size: cover;
  background-position: center;
  width: 100vh;
  height: 60vh;
}

.categories {
  margin-bottom: 20px;
}
.categories-section {
  width: 70%;
  margin-left: 15%;
}

.category {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.category img {
  width: 100%;

  opacity: 0.7;
  transition: opacity 0.5s, transform 0.5s;
}

.category img:hover {
  opacity: 1;
  transform: scale(1.03);
}
@media only screen and (min-width: 1280px) {
  .sign-up {
    display: block !important;
  }
}

.sign-up {
  padding: 0;
  border-top: none;
  border-bottom: none;
  background-color: transparent;
  display: block !important;
  font-size: 100%;
  margin: 0;
  font-family: "Montserrat";
  color: #4a4b4f;
  line-height: 1.5;
}

.img-block {
  background-image: url("https://cdn.mumstore.com.au/media/wysiwyg/cms_images/sing-up.png");
  background-size: cover;
  background-position: top;
  height: 70vh;
  /* background-attachment: fixed; */
  /* margin-bottom: 40px; */
}

.sign-up-info {
  border: 1px solid #bfbebe;
  transform: translate(35%, 60%);
  width: 65%;
  top: 65%;
  background-color: #eef1f7;
  opacity: 1;
  height: 300px;
  width: 900px;
}

.sign-up-info .title {
  font-size: 42px;
  margin: 50px 0px 10px 0px;
}

.sign-up-info h3 {
  letter-spacing: -1px;
  color: black;
  font-size: 20px;
  margin: 10px 0px 10px 0px;
}

.sign-up-info .icon {
  color: #00aced;
  font-size: 42px;
  margin: 10px 0px 10px 0px;
}
/* 
@media only screen and (min-width: 1279px) {
  .sign-up-info {
    font-size: 42px;
    margin-bottom: 40px;
  }
} */

/* .sign-up-info div {
  background-color: aquamarine;
} */
/*-----h----*/

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  color: rgba(45, 70, 255, 0.728);
  word-spacing: 4px;
  letter-spacing: 1px;
}
h2 {
  text-align: center;
  color: rgb(21, 21, 21);
}
h5 {
  color: rgb(250, 250, 250);
  margin-bottom: 10px;
}
/* h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
} */
/*-----h----*/

/*---- BTN-----*/

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 0px 30px;
  font-weight: 300;
  font-size: 140%;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
}
/*---- BTN-----*/

/*---- HEADER-----*/
.header {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(image/code-background.jpg); */
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  margin-bottom: 40px;
}

.header-text-box {
  position: absolute;
  width: 65%;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-h5 {
  margin-bottom: 30px;
}
.header-text-box h4 {
  margin-bottom: 60px;
}

.navigations {
  float: right;
  margin-right: 0px 0px 0px 5%;
}

.navigations li {
  margin: 55px 22px;
  display: inline-block;
  transition: border-bottom 0.5s;
}
.navigations li:hover {
  border-bottom: 3px solid #cf6d17;
}

/*---- HEADER-----*/

/*---- LANDING-----*/
.col {
}

.landing-long-copy {
  text-align: center;
  font-size: 170%;
  margin-bottom: 5%;
}

.icon-medium {
  color: #e67e22;
}

.section {
  background-color: rgb(227, 227, 227);
  margin-top: 50px;
  padding-bottom: 50px;
}
.plan-h2 {
  margin-top: 50px;
}

.plan-box {
  background-color: #fff;
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.plan-box div:last-child {
  text-align: center;
  border: 0;
}

.position {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: #e67e22;
}

.position span {
  font-size: 30%;
  font-weight: 300;
}

.plan-box h3 {
  font-size: 200%;
  color: black;
}

.icon-small {
  color: #e67e22;
}

/*---- FOOTER-----*/

footer {
  background-color: #333;
  padding: 50px;
  font-size: 120%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 100%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #00aced;
}

.ion-social-googleplus:hover {
  color: #dd4b39;
}

.ion-social-instagram:hover {
  color: #517fa4;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}

/* UI css*/
.message-wedge {
  text-align: center;
  margin: auto auto;
  color: #fff;
  font-size: 120%;
  background-color: #00aced;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 70px;
  border: 3px solid #00aced;
  border-radius: 5px;
}

.btn-link {
  width: 30px;
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  background-color: #00aced;
  border-radius: 5px;
  padding: 7px 90px 7px 90px;
  margin-top: 90px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn-link:hover {
  color: #fff;
  background-color: #008ec2;
  text-decoration: none;
}

.startShoppingSection {
  margin: 20px auto 20px auto;
}

.shopping-section-h4 {
  font-size: 22px;
  font-weight: 700;
}

.footer-list {
  list-style-type: none;
}

.footer-list a {
  font-size: 30px;
  color: #000000;
}
